<div class="cluster_view_wrapper">

<div class="machine" id="m3"> 

<span class="server_ip" style="color: red">
<i class="fa fa-circle fa-lg"></i>
192.168.2.3</span>

	<div class="gtm_slave" id="gtm_slave1"> 
	<i class="fa fa-globe fa-lg"></i>
	gtm_slave</div>
</div>

<br/>

<div class="machine" id="m2"> 
<span class="server_ip" style="color: #2b7c02">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>

	
<div class="gtm" id="gtm1">
	  <i class="fa fa-globe fa-lg"></i>
		gtm1</div>
</div>


<br/>

<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>	


	<div class="gtm_proxy" id="gp1">
	<i class="fa fa-random fa-lg"></i>
	gtm_proxy1</div>
	
	<div class="gtm_proxy" id="gp2">
	<i class="fa fa-random fa-lg"></i>
	gtm_proxy2</div>

	<br/><div class="coord" id="c1">
<i class="fa fa-sitemap fa-lg"></i>
	c1</div>

</div>


<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>
	
	<div class="gtm_proxy" id="gp4">
<i class="fa fa-random fa-lg"></i>
	gtm_proxy2</div>
	<div class="gtm_proxy" id="gp3">
<i class="fa fa-random fa-lg"></i>
	gtm_proxy3</div>

	<br/>
	<div class="coord" id="c2">
<i class="fa fa-sitemap fa-lg"></i>
	c2</div>

</div>

<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>


	<div class="gtm_proxy" id="gp5">
<i class="fa fa-random fa-lg"></i>
	gtm_proxy5</div>
	<div class="gtm_proxy" id="gp6">
<i class="fa fa-random fa-lg"></i>
	gtm_proxy6</div>

	<br/>

	<div class="coord" id="c3">
<i class="fa fa-sitemap fa-lg"></i>
	c3</div>

</div>

<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>


	<div class="gtm_proxy" id="gp7">
<i class="fa fa-random fa-lg"></i>
	gtm_proxy7</div>
	<div class="gtm_proxy" id="gp8">
<i class="fa fa-random fa-lg"></i>
	gtm_proxy8</div>

	<br/><div class="coord" id="c4">
<i class="fa fa-sitemap fa-lg"></i>
	c4</div>

</div>

<br/>

<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>
	
	<div class="datanode_m" id="dn1">
<i class="fa fa-database fa-lg"></i>
	dn1</div>
</div>


<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>
	
	<div class="datanode_m" id="dn2">
<i class="fa fa-database fa-lg"></i>
	dn2</div>
</div>

<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>
	
	<div class="datanode_m" id="dn3">
<i class="fa fa-database fa-lg"></i>
	dn3</div>
</div>


<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>
	
	<div class="datanode_m" id="dn4"> 
<i class="fa fa-database fa-lg"></i>
	dn4 </div>
</div>


<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>
	
	<div class="datanode_m" id="dn5"> 
<i class="fa fa-database fa-lg"></i>
	dn5 </div>
</div>


<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>
	
	<div class="datanode_m" id="dn6"> 
<i class="fa fa-database fa-lg"></i>
	dn6 </div>
</div>


<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>

	<div class="datanode_m" id="dn7"> 
<i class="fa fa-database fa-lg"></i>
	dn7 </div>
</div>



<br/>

<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>
	
	<div class="datanode_sl" id="ds1"> 
<i class="fa fa-life-saver fa-lg"></i>
	ds1 </div>
</div>


<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>
	
	<div class="datanode_sl" id="ds2"> 
<i class="fa fa-life-saver fa-lg"></i>
	ds2 </div>
</div>


<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>

	<div class="datanode_sl" id="ds3"> 
<i class="fa fa-life-saver fa-lg"></i>
	ds3 </div>
</div>

<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>
	
	<div class="datanode_sl" id="ds4"> 
<i class="fa fa-life-saver fa-lg"></i>
	ds4 </div>
</div>


<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>
	
	<div class="datanode_sl" id="ds5">
<i class="fa fa-life-saver fa-lg"></i>
	 ds5 </div>
</div>


<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>

	<div class="datanode_sl" id="ds6"> 
<i class="fa fa-life-saver fa-lg"></i>
	ds6 </div>
</div>

<div class="machine" id="m1"> 
<span class="server_ip">
<i class="fa fa-server fa-lg"></i>
192.168.2.3</span>

	<div class="datanode_sl" id="ds7"> 
<i class="fa fa-life-saver fa-lg"></i>
	ds7 </div>
</div>
</div>


<script type="text/javascript">

/*
$(document).ready(function(){

	window.setTimeout(function(){
		window.make_cluster_connections()
		console.log("This just got called")
	}, 2000);
	}

}) */

</script>



