<div>
<div class="container">
<div class="row">
	<div class="col-8" style="float: left; width: 150px; font-size: 12px;">

	<b><i class="fa fa-gear fa-lg"></i>Components</b> <br/>

		<i class="fa fa-globe fa-lg"></i> <b> GTM</b> <br/>		
		GTM Master <br/>
		GTM Slave <br/><br/>

		<i class="fa fa-random fa-lg"></i><b> GTM Proxies</b> <br/>				
		GTM Proxy 1 <br/>
		GTM Proxy 2 <br/>

		<br/>

		<i class="fa fa-sitemap fa-lg"></i> <b> Coordinators</b>
		Coordinator 1 <br/>
		Coordinator 2 <br/><br/>


		<i class="fa fa-database fa-lg"></i> <b> Datanodes</b> <br/>
		Datanode 1 <br/>
		Datanode 2 <br/>
		Datanode 3 <br/>
		Datanode 4 <br/>
		Datanode 5 <br/>
		Datanode 6 <br/>
		Datanode 7 <br/> <br/>

		<i class="fa fa-database fa-lg"></i> <b> Datanode Slaves</b> <br/>
		Datanode 1 <br/>
		Datanode 2 <br/>
		Datanode 3 <br/>
		Datanode 4 <br/>
		Datanode 5 <br/>
		Datanode 6 <br/>
		Datanode 7 <br/>




	</div>
<div class="col-6" style="float: left; width: 500px;">
<h2><i class="fa fa-globe fa-lg"></i> GTM <b>{{component_name}}</b></h2>

<div style="display: inline-block;  padding: 15px;">
	<h3>Current State <i class="fa fa-check fa-lg" style="color: green;"></i></h3>
	<div><span style="font-size: 12px; cursor: pointer;"> <i class="fa fa-refresh fa-lg"></i></span> Checked on : <b>26 Sep 2017 12:33am </b></div>

</div>

<div style="display: inline-block;">
	<h4>Threads Used : <b>50</b> </h4>
</div>
<br/>


<div>
	
Log File Size : <br/>

Config : <br/>


</div>

<div style="border: thin solid gray; position: relative; padding-top: 15px; font-size: 12px; margin-top: 15px;"> 
<span style="top: -10px; font-weight: bold; position: absolute; background-color: white;"><i class="fa fa-television fa-lg"></i>Server Details</span>

<i class="fa fa-microchip fa-lg"></i> 4 Core CPU - 4 GB RAM -- Virtual Machine<br/> <br/>


<i class="fa fa-bar-chart fa-lg"></i> <b>System Stats</b><br/>
Load Average : 2.1 (last 5 mins), 3.1 (last 15 mins), 1.0 (last 1 hour) <br/>
Memory Utilization : 15% <br/>
Uptime : 26 Sep 2017 12:33am<br/>
Server Time : <br/>

<br/>
<i class="fa fa-sitemap fa-lg"></i><b>Networking</b><br/>
IPs : <br/>
Hostname : <br/><br/>


<i class="fa fa-hdd-o fa-lg"></i>
HDD	Details <br/>
/ 		10% <br/>
/opt 	54% <br/>
	
</div>


</div>
</div>

</div>
</div>